.actions-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.add-button {
    color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--blue);
}   

.add-button:hover {
    opacity: .8;
    transition: opacity 200ms ease-in;
}

.add-button:active {
    opacity: .6;
    transform: scale(96%);
    transition: 100ms ease;
}